Repository woowacourse-teams/2025-coffee-shout, pull requests merged in 2025-07, with the labels that each got.

#31 [Feat] 공통 스타일(theme) 적용
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/src/styles/.gitkeep
  frontend/src/styles/emotion.d.ts
  frontend/src/styles/global.css
  frontend/src/styles/reset.css
  frontend/src/styles/theme.ts
  frontend/webpack.common.js
Labels: FE, ✨feat

#54 [chore] CI 환경 파일 수정
  .github/workflows/close-issue.yml
  .github/workflows/frontend-ci.yml
Labels: FE, ⚙️chore

#52 [chore] 테스트 환경 설정
  .github/workflows/frontend-ci.yml
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/__test__/.gitkeep
  frontend/__tests__/App.test.tsx
  frontend/cypress.config.ts
  frontend/cypress/e2e/hello.cy.ts
  frontend/cypress/support/e2e.ts
  frontend/eslint-plugin-cypress.d.ts
  frontend/eslint.config.js
  frontend/jest.config.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/setupTests.ts
  frontend/src/styles/emotion.d.ts
  frontend/src/styles/global.css
  frontend/src/styles/reset.css
  frontend/src/styles/theme.ts
  frontend/tsconfig.json
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: FE, ⚙️chore

#55 [chore] 프론트 변경사항 적용
  .github/workflows/close-issue.yml
  .github/workflows/frontend-ci.yml
  frontend/.gitignore
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/__tests__/App.test.tsx
  frontend/cypress.config.ts
  frontend/cypress/e2e/hello.cy.ts
  frontend/cypress/support/e2e.ts
  frontend/eslint-plugin-cypress.d.ts
  frontend/eslint.config.js
  frontend/jest.config.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/.gitkeep
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/apis/.gitkeep
  frontend/src/components/@common/.gitkeep
  frontend/src/components/@composition/.gitkeep
  frontend/src/constants/.gitkeep
  frontend/src/contexts/.gitkeep
  frontend/src/features/.gitkeep
  frontend/src/hooks/.gitkeep
  frontend/src/layouts/.gitkeep
  frontend/src/main.tsx
  frontend/src/pages/.gitkeep
  frontend/src/setupTests.ts
  frontend/src/styles/emotion.d.ts
  frontend/src/styles/global.css
  frontend/src/styles/reset.css
  frontend/src/styles/theme.ts
  frontend/src/types/.gitkeep
  frontend/src/utils/.gitkeep
  frontend/tsconfig.json
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: FE, ⚙️chore

#56 [chore] 스토리북 설정 변경
  frontend/.storybook/main.ts
  frontend/.storybook/preview.tsx
  frontend/package-lock.json
  frontend/public/images/.gitkeep
  frontend/public/images/download-icon.svg
  frontend/public/images/share-icon.svg
Labels: FE, ⚙️chore

#51 [feat] 룰렛을 돌려 당첨자를 반환한다.
  backend/docs/도메인모델.md
  backend/src/main/java/coffeeshout/CoffeeShoutApplication.java
  backend/src/main/java/coffeeshout/domain/JavaRandomGenerator.java
  backend/src/main/java/coffeeshout/domain/JoinCode.java
  backend/src/main/java/coffeeshout/domain/Menu.java
  backend/src/main/java/coffeeshout/domain/MiniGame.java
  backend/src/main/java/coffeeshout/domain/MiniGamePlayService.java
  backend/src/main/java/coffeeshout/domain/MiniGameResult.java
  backend/src/main/java/coffeeshout/domain/MiniGameResultType.java
  backend/src/main/java/coffeeshout/domain/Player.java
  backend/src/main/java/coffeeshout/domain/PlayersWithProbability.java
  backend/src/main/java/coffeeshout/domain/Probability.java
  backend/src/main/java/coffeeshout/domain/ProbabilityCalculator.java
  backend/src/main/java/coffeeshout/domain/RandomGenerator.java
  backend/src/main/java/coffeeshout/domain/Room.java
  backend/src/main/java/coffeeshout/domain/RoomState.java
  backend/src/main/java/coffeeshout/domain/Roulette.java
  backend/src/main/java/coffeeshout/domain/RoulettePlayService.java
  backend/src/main/java/coffeeshout/domain/RouletteRange.java
  backend/src/main/java/coffeeshout/domain/RouletteRanges.java
  backend/src/test/java/coffeeshout/CoffeeShoutApplicationTests.java
  backend/src/test/java/coffeeshout/domain/FixedLastValueGenerator.java
  backend/src/test/java/coffeeshout/domain/JoinCodeTest.java
  backend/src/test/java/coffeeshout/domain/MiniGamePlayServiceTest.java
  backend/src/test/java/coffeeshout/domain/MiniGameResultTest.java
  backend/src/test/java/coffeeshout/domain/MiniGameResultTypeTest.java
  backend/src/test/java/coffeeshout/domain/PlayersWithProbabilityTest.java
  backend/src/test/java/coffeeshout/domain/ProbabilityCalculatorTest.java
  backend/src/test/java/coffeeshout/domain/ProbabilityTest.java
  backend/src/test/java/coffeeshout/domain/RoomTest.java
  backend/src/test/java/coffeeshout/domain/RoulettePlayServiceTest.java
  backend/src/test/java/coffeeshout/domain/RouletteRangeTest.java
  backend/src/test/java/coffeeshout/domain/RouletteRangesTest.java
  backend/src/test/java/coffeeshout/domain/RouletteTest.java
  backend/src/test/java/coffeeshout/domain/fixture/MenuFixture.java
  backend/src/test/java/coffeeshout/domain/fixture/MiniGameResultFixture.java
  backend/src/test/java/coffeeshout/domain/fixture/PlayerFixture.java
  backend/src/test/java/coffeeshout/domain/fixture/PlayersFixture.java
  backend/src/test/java/coffeeshout/domain/fixture/RoomFixture.java
  backend/src/test/java/coffeeshout/domain/fixture/RouletteFixture.java
Labels: BE, ✨feat

#67 [feat] RoomActionButton 컴포넌트 구현
  frontend/.storybook/preview.tsx
  frontend/public/images/next-step-icon.svg
  frontend/src/components/@common/RoomActionButton/RoomActionButton.stories.tsx
  frontend/src/components/@common/RoomActionButton/RoomActionButton.styled.ts
  frontend/src/components/@common/RoomActionButton/RoomActionButton.tsx
  frontend/src/constants/color.ts
  frontend/src/styles/global.css
  frontend/src/styles/reset.css
  frontend/src/utils/makeColorMap.ts
Labels: FE, ✨feat

#70 [feat] GameActionButton 컴포넌트 구현
  frontend/.storybook/preview.tsx
  frontend/public/images/Info-gray.svg
  frontend/public/images/Info-white.svg
  frontend/src/components/@common/GameActionButton/GameActionButton.stories.tsx
  frontend/src/components/@common/GameActionButton/GameActionButton.styled.ts
  frontend/src/components/@common/GameActionButton/GameActionButton.tsx
  frontend/src/components/@common/RoomActionButton/RoomActionButton.tsx
Labels: FE, ✨feat

#74 [feat] ProgressCounter 컴포넌트 구현
  frontend/src/components/@common/ProgressCounter/ProgressCounter.stories.tsx
  frontend/src/components/@common/ProgressCounter/ProgressCounter.styled.ts
  frontend/src/components/@common/ProgressCounter/ProgressCounter.tsx
Labels: FE, ✨feat

#122 [refactor] SwitchButton -> IconButton 으로 변경
  frontend/src/components/@common/IconButton/IconButton.stories.tsx
  frontend/src/components/@common/IconButton/IconButton.styled.ts
  frontend/src/components/@common/IconButton/IconButton.tsx
  frontend/src/components/@common/SwitchButton/SwitchButton.stories.tsx
  frontend/src/components/@common/SwitchButton/SwitchButton.tsx
Labels: FE, 🛠️refactor

#108 [feat] MiniGameReadyPage 구현
  frontend/src/pages/MiniGameReadyPage/MiniGameReadyPage.styled.ts
  frontend/src/pages/MiniGameReadyPage/MiniGameReadyPage.tsx
Labels: FE, ✨feat

#121 [feat] EntryMenuPage 구현
  frontend/src/pages/EntryMenuPage/EntryMenuPage.styled.ts
  frontend/src/pages/EntryMenuPage/EntryMenuPage.tsx
Labels: FE, ✨feat

#111 [feat] RouletteResultPage 구현
  frontend/public/images/bread-logo-white.svg
  frontend/src/pages/RouletteResultPage/RouletteResultPage.styled.ts
  frontend/src/pages/RouletteResultPage/RouletteResultPage.tsx
Labels: FE, ✨feat

#116 [feat] MiniGameResultPage 구현
  frontend/src/pages/MiniGameResultPage/MiniGameResultPage.styled.ts
  frontend/src/pages/MiniGameResultPage/MiniGameResultPage.tsx
Labels: FE, ✨feat

#125 [feat] HomePage 구현
  frontend/public/images/logo-main.svg
  frontend/public/images/logo-splash.svg
  frontend/public/index.html
  frontend/src/pages/HomePage/HomePage.styled.ts
  frontend/src/pages/HomePage/HomePage.tsx
  frontend/src/pages/HomePage/Splash/Splash.styled.ts
  frontend/src/pages/HomePage/Splash/Splash.tsx
Labels: FE, ✨feat

#114 [feat] LobbyPage 구현
  .gitignore
  frontend/src/components/@common/Divider/Divider.stories.tsx
  frontend/src/components/@common/Divider/Divider.styled.ts
  frontend/src/components/@common/Divider/Divider.tsx
  frontend/src/components/@common/GameActionButton/GameActionButton.styled.ts
  frontend/src/components/@composition/ProbabilityList/ProbabilityList.styled.ts
  frontend/src/components/@composition/ProbabilityList/ProbabilityList.tsx
  frontend/src/components/@composition/RouletteWheel/RouletteWheel.styled.ts
  frontend/src/components/@composition/RouletteWheel/RouletteWheel.tsx
  frontend/src/components/@composition/SectionTitle/SectionTitle.styled.ts
  frontend/src/components/@composition/SectionTitle/SectionTitle.tsx
  frontend/src/layouts/Content/Content.styled.ts
  frontend/src/layouts/TopBar/TopBar.styled.ts
  frontend/src/pages/LobbyPage/LobbyPage.styled.ts
  frontend/src/pages/LobbyPage/LobbyPage.tsx
  frontend/src/pages/LobbyPage/MiniGameSection/MiniGameSection.styled.ts
  frontend/src/pages/LobbyPage/MiniGameSection/MiniGameSection.tsx
  frontend/src/pages/LobbyPage/ParticipantSection/ParticipantSection.styled.ts
  frontend/src/pages/LobbyPage/ParticipantSection/ParticipantSection.tsx
  frontend/src/pages/LobbyPage/RouletteSection/RouletteSection.styled.ts
  frontend/src/pages/LobbyPage/RouletteSection/RouletteSection.tsx
Labels: FE, ✨feat

#135 [feat] MiniGamePlayPage 구현
  frontend/src/pages/MiniGamePlayPage/MiniGamePlayPage.styled.ts
  frontend/src/pages/MiniGamePlayPage/MiniGamePlayPage.tsx
Labels: FE, ✨feat

#130 [feat] 방 참가하기 모달 구현
  frontend/src/pages/HomePage/EnterRoomModal/EnterRoomModal.styled.ts
  frontend/src/pages/HomePage/EnterRoomModal/EnterRoomModal.tsx
  frontend/src/pages/HomePage/HomePage.tsx
Labels: FE, ✨feat

#132 [feat] CircularProgress 타이머 이슈
  frontend/src/features/miniGame/cardGame/components/CircularProgress/CircularProgress.stories.tsx
  frontend/src/features/miniGame/cardGame/components/CircularProgress/CircularProgress.tsx
Labels: enhancement, FE, ✨feat

#150 refactor: 이동하는 경로 수정
  frontend/src/pages/MiniGameResultPage/MiniGameResultPage.tsx
Labels: FE, ✨feat

#149 [design] lobby 페이지에서 룰렛 상단에 있는거 수정
  frontend/src/components/@composition/RouletteWheel/RouletteWheel.styled.ts
  frontend/src/pages/LobbyPage/RouletteSection/RouletteSection.styled.ts
Labels: FE, Design

#153 [refactor] GameActionButton에 애니메이션 추가
  frontend/src/components/@common/GameActionButton/GameActionButton.styled.ts
Labels: FE, 🛠️refactor

#154 [fix] EntryNamePage에 TopBar 추가
  frontend/src/components/@common/SelectBox/SelectBox.styled.tsx
  frontend/src/pages/EntryNamePage/EntryNamePage.tsx
Labels: 🐞bug, FE

#157 [chore] fe/dev -> fe/prod 아이콘 테스트
  frontend/src/components/@common/BackButton/BackButton.tsx
  frontend/src/components/@common/Button/Button.stories.tsx
  frontend/src/components/@common/GameActionButton/GameActionButton.tsx
  frontend/src/components/@common/IconButton/IconButton.stories.tsx
  frontend/src/components/@common/Input/Input.tsx
  frontend/src/components/@common/RoomActionButton/RoomActionButton.tsx
  frontend/src/components/@composition/PlayerCard/PlayerCard.stories.tsx
  frontend/src/components/@composition/PlayerCard/PlayerCard.tsx
  frontend/src/components/@composition/RouletteWheel/RouletteWheel.tsx
  frontend/src/features/miniGame/cardGame/components/CardBack/CardBack.tsx
  frontend/src/features/miniGame/cardGame/components/CardFront/CardFront.tsx
  frontend/src/features/ui/Modal/ModalHeader/ModalHeader.tsx
  frontend/src/layouts/Layout.stories.tsx
  frontend/src/pages/HomePage/HomePage.tsx
  frontend/src/pages/HomePage/Splash/Splash.tsx
  frontend/src/pages/LobbyPage/LobbyPage.tsx
  frontend/src/pages/LobbyPage/RouletteSection/RouletteSection.tsx
  frontend/src/pages/MiniGamePlayPage/MiniGamePlayPage.tsx
  frontend/src/pages/OrderPage/OrderPage.tsx
  frontend/src/pages/RoulettePage/RoulettePage.tsx
  frontend/src/pages/RouletteResultPage/RouletteResultPage.tsx
Labels: 🐞bug, FE, ⚙️chore

#161 [chore] fe/dev -> fe/prod
  frontend/src/assets/images/back-icon.svg
  frontend/src/assets/images/bread-logo-white.svg
  frontend/src/assets/images/close-icon.svg
  frontend/src/assets/images/close.svg
  frontend/src/assets/images/coffee-white.svg
  frontend/src/assets/images/detail-icon.svg
  frontend/src/assets/images/download-icon.svg
  frontend/src/assets/images/gray-info.svg
  frontend/src/assets/images/juice.svg
  frontend/src/assets/images/logo-main.svg
  frontend/src/assets/images/logo-splash.svg
  frontend/src/assets/images/next-step-icon.svg
  frontend/src/assets/images/profile-red.svg
  frontend/src/assets/images/roulette-icon.svg
  frontend/src/assets/images/share-icon.svg
  frontend/src/assets/images/sign-inversion-icon.svg
  frontend/src/assets/images/statistics-icon.svg
  frontend/src/assets/images/white-info.svg
  frontend/src/components/@common/BackButton/BackButton.tsx
  frontend/src/components/@common/Button/Button.stories.tsx
  frontend/src/components/@common/GameActionButton/GameActionButton.tsx
  frontend/src/components/@common/IconButton/IconButton.stories.tsx
  frontend/src/components/@common/Input/Input.tsx
  frontend/src/components/@common/RoomActionButton/RoomActionButton.tsx
  frontend/src/components/@composition/PlayerCard/PlayerCard.stories.tsx
  frontend/src/components/@composition/PlayerCard/utils/getPlayerIcon.ts
  frontend/src/components/@composition/RouletteWheel/RouletteWheel.tsx
  frontend/src/features/miniGame/cardGame/components/CardBack/CardBack.tsx
  frontend/src/features/miniGame/cardGame/components/CardFront/CardFront.tsx
  frontend/src/features/ui/Modal/ModalHeader/ModalHeader.tsx
  frontend/src/layouts/Layout.stories.tsx
  frontend/src/pages/HomePage/HomePage.tsx
  frontend/src/pages/HomePage/Splash/Splash.tsx
  frontend/src/pages/LobbyPage/LobbyPage.tsx
  frontend/src/pages/LobbyPage/RouletteSection/RouletteSection.tsx
  frontend/src/pages/OrderPage/OrderPage.tsx
  frontend/src/pages/RoulettePage/RoulettePage.tsx
  frontend/src/pages/RouletteResultPage/RouletteResultPage.tsx
Labels: 🐞bug, FE

#176 [feat] 카드 게임 싱글 플레이 버전 구현
  frontend/src/components/@composition/MiniGameTransition/MiniGameTransition.stories.tsx
  frontend/src/components/@composition/MiniGameTransition/MiniGameTransition.tsx
  frontend/src/features/miniGame/cardGame/components/CardBack/CardBack.stories.tsx
  frontend/src/features/miniGame/cardGame/components/CardBack/CardBack.tsx
  frontend/src/features/miniGame/cardGame/components/CardFront/CardFront.stories.tsx
  frontend/src/features/miniGame/cardGame/components/CardFront/CardFront.styled.ts
  frontend/src/features/miniGame/cardGame/components/CardFront/CardFront.tsx
  frontend/src/features/miniGame/cardGame/components/Round/Round.styled.ts
  frontend/src/features/miniGame/cardGame/components/Round/Round.tsx
  frontend/src/features/miniGame/cardGame/constants/cards.ts
  frontend/src/features/miniGame/cardGame/pages/CardGamePlayPage.tsx
  frontend/src/pages/MiniGamePlayPage/MiniGamePlayPage.styled.ts
  frontend/src/pages/MiniGamePlayPage/MiniGamePlayPage.tsx
  frontend/src/types/round.ts
Labels: FE, ✨feat

#175 [feat] 모바일 터치 효과 제거
  frontend/public/index.html
  frontend/src/styles/global.css
Labels: enhancement, FE

#186 [fix] 주문 리스트 페이지 스크롤 안됨
  frontend/src/pages/MiniGameResultPage/MiniGameResultPage.styled.ts
Labels: 🐞bug, FE

#187 [fix] 룰렛을 돌려도 룰렛 화면이 보이지 않는 문제 해결
  frontend/src/pages/RoulettePage/RoulettePage.tsx
Labels: 🐞bug, FE

#202 [fix] storybook/preview 내부 import 오류
  frontend/.storybook/preview.tsx
Labels: 🐞bug, FE

#203 [feat] 커피 메뉴 수정 모달 구현
  frontend/src/components/@common/Modal/Modal.styled.ts
  frontend/src/components/@composition/ProbabilityList/ProbabilityList.styled.ts
  frontend/src/features/miniGame/pages/MiniGameResultPage/MiniGameResultPage.styled.ts
  frontend/src/features/room/lobby/components/MenuModifyModal/MenuModifyModal.styled.ts
  frontend/src/features/room/lobby/components/MenuModifyModal/MenuModifyModal.tsx
  frontend/src/features/room/lobby/components/ParticipantSection/ParticipantSection.styled.ts
  frontend/src/features/room/lobby/components/ParticipantSection/ParticipantSection.tsx
  frontend/src/features/room/order/pages/OrderPage.styled.ts
  frontend/src/styles/global.css
Labels: FE, ✨feat

#207 [refactor] 'small' | 'medium' | 'large’ 타입 통일
  frontend/src/components/@common/Button/Button.styled.ts
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/features/miniGame/cardGame/components/CardBack/CardBack.styled.ts
  frontend/src/features/miniGame/cardGame/components/CardBack/CardBack.tsx
  frontend/src/features/miniGame/cardGame/components/CardFront/CardFront.styled.ts
  frontend/src/features/miniGame/cardGame/components/CardFront/CardFront.tsx
  frontend/src/types/styles.ts
Labels: FE, 🛠️refactor

#206 [refactor] Input 및 Modal의 X 버튼 아이콘 일원화
  frontend/src/assets/close-icon.svg
  frontend/src/assets/close.svg
  frontend/src/components/@common/CloseIcon/CloseIcon.tsx
  frontend/src/components/@common/Input/Input.styled.ts
  frontend/src/components/@common/Input/Input.tsx
  frontend/src/components/@common/Modal/ModalHeader/ModalHeader.styled.ts
  frontend/src/components/@common/Modal/ModalHeader/ModalHeader.tsx
  frontend/src/layouts/Layout.stories.tsx
  frontend/src/styles/emotion.d.ts
Labels: FE, 🛠️refactor

#222 [chore] 프론트엔드 dev 병합 시 이전 브랜치 삭제
  .github/workflows/fe-delete-merged-branch.yml
Labels: FE, ⚙️chore

#226 [feat] 비동기 통신 구조 설계
  frontend/src/apis/.gitkeep
  frontend/src/apis/api.ts
  frontend/src/apis/apiRequest.ts
  frontend/src/apis/docs.md
  frontend/src/apis/error.ts
  frontend/src/apis/example/UserList.tsx
  frontend/src/apis/example/useUser.ts
Labels: FE, ✨feat

#237 [Feat] Room 존재 여부 확인 API 및 로직 추가
  backend/src/main/java/coffeeshout/room/application/RoomService.java
  backend/src/main/java/coffeeshout/room/domain/service/RoomQueryService.java
  backend/src/main/java/coffeeshout/room/ui/RoomRestController.java
  backend/src/test/java/coffeeshout/room/application/RoomServiceTest.java
Labels: BE, ✨feat

#239 [feat] playerRole context 구현 및 적용
  frontend/src/App.tsx
  frontend/src/apis/example/UserList.tsx
  frontend/src/components/@common/GameActionButton/GameActionButton.tsx
  frontend/src/components/@common/Modal/useModal.ts
  frontend/src/components/@composition/PlayerCard/PlayerCard.stories.tsx
  frontend/src/components/@composition/PlayerCard/PlayerCard.tsx
  frontend/src/contexts/.gitkeep
  frontend/src/contexts/PlayerRoleContext.ts
  frontend/src/contexts/PlayerRoleProvider.tsx
  frontend/src/features/home/pages/HomePage.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
  frontend/src/features/room/roulette/pages/RoulettePlayPage/RoulettePlayPage.tsx
  frontend/src/types/player.ts
  frontend/src/utils/isTouchDevice.ts
Labels: FE, ✨feat

#241 [refactor] 메뉴 이미지 대신 타입으로 알려주기
  backend/src/main/java/coffeeshout/room/application/MenuInitializer.java
  backend/src/main/java/coffeeshout/room/domain/player/Menu.java
  backend/src/main/java/coffeeshout/room/domain/player/MenuType.java
  backend/src/main/java/coffeeshout/room/ui/response/MenuResponse.java
  backend/src/main/resources/data/menu-data.yml
  backend/src/test/java/coffeeshout/fixture/MenuFixture.java
Labels: BE, 🛠️refactor

#248 [refactor] 룰렛 스핀 시 해당 room을 repository에서 제거
  backend/src/main/java/coffeeshout/room/application/RoomService.java
  backend/src/main/java/coffeeshout/room/domain/Room.java
  backend/src/main/java/coffeeshout/room/domain/repository/MemoryRoomRepository.java
  backend/src/main/java/coffeeshout/room/domain/repository/RoomRepository.java
  backend/src/main/java/coffeeshout/room/domain/service/RoomCommandService.java
  backend/src/main/java/coffeeshout/room/domain/service/RoulettePlayService.java
  backend/src/main/java/coffeeshout/room/ui/RoomWebSocketController.java
  backend/src/test/java/coffeeshout/fixture/TestStompSession.java
  backend/src/test/java/coffeeshout/fixture/WebSocketIntegrationTestSupport.java
  backend/src/test/java/coffeeshout/minigame/application/CardGameServiceTest.java
  backend/src/test/java/coffeeshout/room/application/RoomServiceTest.java
  backend/src/test/java/coffeeshout/room/domain/RoomTest.java
  backend/src/test/java/coffeeshout/room/domain/service/RoomCommandServiceTest.java
  backend/src/test/java/coffeeshout/room/domain/service/RoulettePlayServiceTest.java
  backend/src/test/java/coffeeshout/room/ui/RoomWebSocketControllerTest.java
Labels: 🐞bug, BE, 🛠️refactor

#244 [feat] RestAPI 에러 코드 일관화
  backend/src/main/java/coffeeshout/global/exception/ErrorCode.java
  backend/src/main/java/coffeeshout/global/exception/GlobalErrorCode.java
  backend/src/main/java/coffeeshout/global/exception/RestExceptionHandler.java
  backend/src/main/java/coffeeshout/global/exception/custom/InvalidArgumentException.java
  backend/src/main/java/coffeeshout/global/exception/custom/InvalidStateException.java
  backend/src/main/java/coffeeshout/global/exception/custom/NotExistElementException.java
  backend/src/main/java/coffeeshout/room/domain/JoinCode.java
  backend/src/main/java/coffeeshout/room/domain/Room.java
  backend/src/main/java/coffeeshout/room/domain/RoomErrorCode.java
  backend/src/main/java/coffeeshout/room/domain/player/PlayerName.java
  backend/src/main/java/coffeeshout/room/domain/service/MenuQueryService.java
  backend/src/main/java/coffeeshout/room/domain/service/RoomQueryService.java
  backend/src/main/java/coffeeshout/room/ui/RoomRestController.java
  backend/src/main/java/coffeeshout/room/ui/response/JoinCodeExistResponse.java
  backend/src/test/java/coffeeshout/room/application/RoomServiceTest.java
  backend/src/test/java/coffeeshout/room/domain/JoinCodeTest.java
  backend/src/test/java/coffeeshout/room/domain/RoomTest.java
  backend/src/test/java/coffeeshout/room/domain/player/PlayerNameTest.java
Labels: BE, ✨feat

#262 [feat] joincode context 구현
  frontend/src/App.tsx
  frontend/src/components/@common/GameActionButton/GameActionButton.tsx
  frontend/src/contexts/JoinCode/JoinCodeContext.ts
  frontend/src/contexts/JoinCode/JoinCodeProvider.tsx
  frontend/src/contexts/PlayerRole/PlayerRoleContext.ts
  frontend/src/contexts/PlayerRole/PlayerRoleProvider.tsx
  frontend/src/features/entry/pages/EntryMenuPage/EntryMenuPage.tsx
  frontend/src/features/entry/pages/EntryNamePage/EntryNamePage.tsx
  frontend/src/features/home/pages/HomePage.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
  frontend/src/features/room/roulette/pages/RoulettePlayPage/RoulettePlayPage.tsx
Labels: FE, ✨feat

#277 [feat] IdentifierProvider 구현
  frontend/src/App.tsx
  frontend/src/contexts/Identifier/IdentifierContext.ts
  frontend/src/contexts/Identifier/IdentifierProvider.tsx
  frontend/src/contexts/JoinCode/JoinCodeContext.ts
  frontend/src/contexts/JoinCode/JoinCodeProvider.tsx
  frontend/src/features/entry/pages/EntryMenuPage/EntryMenuPage.tsx
  frontend/src/features/entry/pages/EntryNamePage/EntryNamePage.tsx
  frontend/src/features/home/components/EnterRoomModal/EnterRoomModal.tsx
  frontend/src/features/room/lobby/components/JoinCodeModal/JoinCodeModal.tsx
  frontend/src/features/room/lobby/components/ParticipantSection/ParticipantSection.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
Labels: FE, ✨feat

#281 [refactor] WebSocket의 Data파싱과 에러 처리 추가
  frontend/src/apis/websocket/contexts/WebSocketProvider.tsx
Labels: FE, 🛠️refactor

#295 [feat] 카드게임이 끝났을 때 등수와 함께 점수도 반환
  backend/src/main/java/coffeeshout/global/exception/WebSocketExceptionHandler.java
  backend/src/main/java/coffeeshout/minigame/application/CardGameService.java
  backend/src/main/java/coffeeshout/minigame/ui/response/MiniGameRanksMessage.java
  backend/src/main/java/coffeeshout/minigame/ui/response/MiniGameScoresMessage.java
  backend/src/main/java/coffeeshout/room/domain/Room.java
  backend/src/main/java/coffeeshout/room/domain/player/Players.java
  backend/src/main/java/coffeeshout/room/domain/roulette/ProbabilityCalculator.java
  backend/src/test/java/coffeeshout/minigame/application/CardGameServiceTest.java
  backend/src/test/java/coffeeshout/minigame/application/TestConfig.java
  backend/src/test/java/coffeeshout/room/ui/RoomWebSocketControllerTest.java
Labels: BE, ✨feat

#303 [refactor] 미니게임 선택 시, 항상 리스트로 선택된 게임 서버로 전송
  backend/src/main/java/coffeeshout/room/application/RoomService.java
  backend/src/main/java/coffeeshout/room/domain/Room.java
  backend/src/main/java/coffeeshout/room/ui/RoomWebSocketController.java
  backend/src/main/java/coffeeshout/room/ui/request/MiniGameSelectMessage.java
  backend/src/test/java/coffeeshout/room/application/RoomServiceTest.java
  backend/src/test/java/coffeeshout/room/ui/RoomWebSocketControllerTest.java
Labels: BE, 🛠️refactor

#304 [feat] 미니 게임 선택 웹소켓 연동
  frontend/src/apis/websocket/contexts/WebSocketProvider.tsx
  frontend/src/apis/websocket/hooks/useWebSocketSubscription.ts
  frontend/src/features/room/lobby/components/MiniGameSection/MiniGameSection.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
Labels: FE, ✨feat

#314 [feat] 룰렛 돌리기 웹소켓 연동
  frontend/src/features/miniGame/cardGame/pages/CardGamePlayPage.tsx
  frontend/src/features/miniGame/pages/MiniGamePlayPage/MiniGamePlayPage.tsx
  frontend/src/features/miniGame/pages/MiniGameReady/MiniGameReadyPage.tsx
  frontend/src/features/miniGame/pages/MiniGameResultPage/MiniGameResultPage.tsx
  frontend/src/features/room/lobby/components/MiniGameSection/MiniGameSection.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
  frontend/src/features/room/roulette/pages/RoulettePlayPage/RoulettePlayPage.tsx
  frontend/src/features/room/roulette/pages/RouletteResultPage/RouletteResultPage.tsx
  frontend/src/router.tsx
  frontend/src/types/miniGame.ts
Labels: FE, ✨feat

#319 [fix] 확률 조정 가중치 수정
  backend/src/main/java/coffeeshout/room/domain/Room.java
  backend/src/main/java/coffeeshout/room/domain/roulette/Probability.java
  backend/src/main/java/coffeeshout/room/domain/roulette/ProbabilityCalculator.java
  backend/src/test/java/coffeeshout/minigame/application/CardGameServiceTest.java
  backend/src/test/java/coffeeshout/room/domain/roulette/ProbabilityCalculatorTest.java
  backend/src/test/java/coffeeshout/room/domain/roulette/RouletteTest.java
Labels: 🐞bug, BE

#317 [feat] 미니게임 시작 웹소켓 연동
  frontend/src/features/entry/pages/EntryMenuPage/EntryMenuPage.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
Labels: FE, ✨feat
