Repository woowacourse-teams/2025-coffee-shout, pull requests merged in 2025-10, with the labels that each got.

#805 [refactor] 방 생성 속도 개선
  backend/src/main/java/coffeeshout/room/application/DelayedRoomRemovalService.java
  backend/src/main/java/coffeeshout/room/application/RoomService.java
  backend/src/main/java/coffeeshout/room/domain/JoinCode.java
  backend/src/main/java/coffeeshout/room/domain/event/RoomCreateEvent.java
  backend/src/main/java/coffeeshout/room/domain/repository/JoinCodeRepository.java
  backend/src/main/java/coffeeshout/room/domain/service/JoinCodeGenerator.java
  backend/src/main/java/coffeeshout/room/domain/service/RoomCommandService.java
  backend/src/main/java/coffeeshout/room/infra/RedisJoinCodeRepository.java
  backend/src/main/java/coffeeshout/room/infra/messaging/handler/RoomCreateEventHandler.java
  backend/src/main/java/coffeeshout/room/ui/RoomRestController.java
  backend/src/test/java/coffeeshout/fixture/RoomFixture.java
  backend/src/test/java/coffeeshout/fixture/TestDataHelper.java
  backend/src/test/java/coffeeshout/minigame/ui/CardGameIntegrationTest.java
  backend/src/test/java/coffeeshout/room/application/DelayedRoomRemovalServiceTest.java
  backend/src/test/java/coffeeshout/room/application/RoomServiceTest.java
  backend/src/test/java/coffeeshout/room/domain/JoinCodeTest.java
  backend/src/test/java/coffeeshout/room/domain/RoomTest.java
  backend/src/test/java/coffeeshout/room/domain/service/RoomCommandServiceTest.java
  backend/src/test/java/coffeeshout/room/infra/RedisJoinCodeRepositoryTest.java
  backend/src/test/java/coffeeshout/room/infra/messaging/handler/RoomCreateEventHandlerTest.java
  backend/src/test/java/coffeeshout/room/ui/RoomRestControllerTest.java
Labels: BE, 🛠️refactor

#810 [feat] joinCode 5 -> 4자리로 변경
  frontend/src/features/entry/pages/EntryMenuPage/utils/roomApiHelpers.ts
Labels: FE, ✨feat

#808 [refactor] CardGame 기능 전체 리팩토링
  frontend/src/components/@composition/PlayerIcon/PlayerIcon.stories.tsx
  frontend/src/contexts/CardGame/CardGameContext.ts
  frontend/src/contexts/CardGame/hooks/useCardGameHandlers.ts
  frontend/src/contexts/CardGame/hooks/useSelectedCard.ts
  frontend/src/contexts/CardGame/reducer/cardGameReducer.ts
  frontend/src/features/miniGame/cardGame/components/GameCardGrid/GameCardGrid.styled.ts
  frontend/src/features/miniGame/cardGame/components/GameCardGrid/GameCardGrid.tsx
  frontend/src/features/miniGame/cardGame/components/PlayerCardDisplay/PlayerCardDisplay.styled.ts
  frontend/src/features/miniGame/cardGame/components/PlayerCardDisplay/PlayerCardDisplay.tsx
  frontend/src/features/miniGame/cardGame/components/Round/Round.tsx
  frontend/src/features/miniGame/cardGame/components/RoundHeader/RoundHeader.styled.ts
  frontend/src/features/miniGame/cardGame/components/RoundHeader/RoundHeader.tsx
  frontend/src/features/miniGame/cardGame/components/RoundTransition/RoundTransition.stories.tsx
  frontend/src/features/miniGame/cardGame/components/RoundTransition/RoundTransition.styled.ts
  frontend/src/features/miniGame/cardGame/components/RoundTransition/RoundTransition.tsx
  frontend/src/features/miniGame/cardGame/hooks/useCardGameActions.ts
  frontend/src/features/miniGame/cardGame/hooks/useCardGameTimer.ts
  frontend/src/features/miniGame/cardGame/pages/CardGamePlayPage.tsx
  frontend/src/features/miniGame/cardGame/pages/CardGameReadyPage.stories.tsx
  frontend/src/features/miniGame/cardGame/pages/CardGameReadyPage.styled.ts
  frontend/src/features/miniGame/cardGame/pages/CardGameReadyPage.tsx
  frontend/src/features/miniGame/components/MiniGameIntroSlide/MiniGameIntroSlide.styled.ts
  frontend/src/features/miniGame/components/MiniGameIntroSlide/MiniGameIntroSlide.tsx
  frontend/src/features/miniGame/components/PrepareOverlay/PrepareOverlay.stories.tsx
  frontend/src/features/miniGame/components/PrepareOverlay/PrepareOverlay.styled.ts
  frontend/src/features/miniGame/components/PrepareOverlay/PrepareOverlay.tsx
  frontend/src/features/miniGame/config/gameSlideConfigs.ts
  frontend/src/features/miniGame/pages/MiniGamePlayPage/MiniGamePlayPage.styled.ts
  frontend/src/features/miniGame/pages/MiniGamePlayPage/MiniGamePlayPage.tsx
  frontend/src/features/miniGame/pages/MiniGameReady/MiniGameReadyPage.styled.ts
  frontend/src/features/miniGame/pages/MiniGameReady/MiniGameReadyPage.tsx
  frontend/src/features/miniGame/pages/MiniGameReadyPage/MiniGameReadyPage.tsx
  frontend/src/router.tsx
  frontend/src/types/miniGame/cardGame.ts
  frontend/src/types/miniGame/common.ts
  frontend/src/types/miniGame/round.ts
Labels: FE, 🛠️refactor

#819 [feat] 모바일에서 새로고침 막기
  frontend/src/styles/global.css
Labels: FE, ✨feat

#820 [fix] 카테고리 아이템이 겹쳐서 보이는 현상
  frontend/src/components/@composition/CafeCategoryCard/CafeCategoryCard.styled.ts
Labels: 🐞bug, FE

#821 [design] 확률 토글 버튼 사용성 개선
  frontend/src/assets/detail-icon.svg
  frontend/src/assets/roulette-icon.svg
  frontend/src/assets/statistics-icon.svg
  frontend/src/components/@common/IconButton/IconButton.stories.tsx
  frontend/src/components/@common/TextButton/TextButton.stories.tsx
  frontend/src/components/@common/TextButton/TextButton.styled.ts
  frontend/src/components/@common/TextButton/TextButton.tsx
  frontend/src/components/@composition/RouletteViewToggle/RouletteViewToggle.tsx
  frontend/src/features/home/components/EnterRoomModal/EnterRoomModal.tsx
  frontend/src/features/room/order/pages/OrderPage.tsx
  frontend/src/features/room/roulette/pages/RouletteResultPage/RouletteResultPage.tsx
Labels: 💖enhancement, FE, Design

#823 [fix] 미니게임 선택 요청 결과에 따라서 미니게임 체크 표시
  frontend/src/apis/websocket/hooks/useWebSocketSubscription.ts
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
Labels: 🐞bug, FE

#826 [feat] 초대 코드 모달의 입력 제한 추가
  frontend/src/constants/joinCode.ts
  frontend/src/features/entry/pages/EntryMenuPage/utils/roomApiHelpers.ts
  frontend/src/features/home/components/EnterRoomModal/EnterRoomModal.tsx
Labels: FE, ✨feat

#827 [fix] 영어 닉네임인 경우 밑에 짤리는 문제 해결
  frontend/src/components/@composition/PlayerCard/PlayerCard.styled.ts
Labels: 🐞bug, FE

#829 [fix] 카테고리 및 메뉴에 버튼 효과 적용 안됨
  frontend/src/styles/animations/effects/backGroundPressEffect.ts
  frontend/src/styles/animations/effects/scalePressEffect.ts
Labels: 🐞bug, FE

#822 [chore] 스토리북 배포
  .github/workflows/chromatic.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/@common/Modal/ModalHeader/ModalHeader.tsx
Labels: FE, ⚙️chore
