Repository woowacourse-teams/2025-coffee-shout, pull requests merged in 2025-08, with the labels that each got.

#329 [fix] 배포 시 환경변수 오류
  .github/workflows/frontend-ci.yml
  frontend/webpack.common.js
Labels: 🐞bug, FE, ⚙️chore

#328 [feat] 게임 상태 실시간 업데이트 웹소켓 연동
  frontend/src/contexts/CardGame/CardGameContext.ts
  frontend/src/contexts/CardGame/CardGameProvider.tsx
  frontend/src/features/miniGame/cardGame/components/Round/Round.tsx
  frontend/src/features/miniGame/cardGame/pages/CardGamePlayPage.tsx
  frontend/src/features/miniGame/components/MiniGameTransition/MiniGameTransition.stories.tsx
  frontend/src/features/miniGame/components/MiniGameTransition/MiniGameTransition.tsx
  frontend/src/features/miniGame/pages/MiniGameReady/MiniGameReadyPage.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
  frontend/src/router.tsx
  frontend/src/types/miniGame.ts
  frontend/src/types/round.ts
Labels: FE, ✨feat

#339 [feat] 카드 선택 웹소켓 연동
  frontend/src/features/miniGame/cardGame/components/Round/Round.tsx
  frontend/src/features/miniGame/cardGame/pages/CardGamePlayPage.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
Labels: FE, ✨feat

#334 [feat] 메뉴 웹소켓 연동
  frontend/src/features/miniGame/cardGame/components/Round/Round.tsx
  frontend/src/features/miniGame/cardGame/pages/CardGamePlayPage.tsx
  frontend/src/features/room/lobby/components/MenuModifyModal/MenuModifyModal.tsx
  frontend/src/features/room/lobby/components/ParticipantSection/ParticipantSection.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
Labels: FE, ✨feat

#309 [feat] 참여코드 존재여부 조회 API 기능 구현
  frontend/src/apis/rest/apiRequest.ts
  frontend/src/features/home/components/EnterRoomModal/EnterRoomModal.tsx
Labels: FE, ✨feat

#337 [feat] 카드 게임 결과 및 랭킹 카드 웹소켓 연동
  frontend/src/contexts/CardGame/CardGameContext.ts
  frontend/src/contexts/CardGame/CardGameProvider.tsx
  frontend/src/features/miniGame/pages/MiniGameResultPage/MiniGameResultPage.tsx
  frontend/src/features/room/order/pages/OrderPage.tsx
  frontend/src/features/room/roulette/pages/RoulettePlayPage/RoulettePlayPage.tsx
  frontend/src/features/room/roulette/pages/RouletteResultPage/RouletteResultPage.tsx
  frontend/src/types/miniGame.ts
Labels: FE, ✨feat

#342 [feat] 카드게임 점수 및 등수 Rest API로 전환
  backend/src/main/java/coffeeshout/global/exception/RestExceptionHandler.java
  backend/src/main/java/coffeeshout/global/log/LogAspect.java
  backend/src/main/java/coffeeshout/minigame/application/CardGameService.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/CardGame.java
  backend/src/main/java/coffeeshout/minigame/ui/MiniGameRestController.java
  backend/src/main/java/coffeeshout/minigame/ui/MiniGameWebSocketController.java
  backend/src/main/java/coffeeshout/minigame/ui/response/MiniGameRanksResponse.java
  backend/src/main/java/coffeeshout/minigame/ui/response/MiniGameScoresResponse.java
  backend/src/main/java/coffeeshout/room/application/RoomService.java
  backend/src/main/java/coffeeshout/room/domain/Playable.java
  backend/src/main/java/coffeeshout/room/domain/Room.java
  backend/src/main/java/coffeeshout/room/ui/RoomRestController.java
  backend/src/main/java/coffeeshout/room/ui/response/MiniGameSelectedResponse.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/logback-spring.xml
  backend/src/test/java/coffeeshout/fixture/MiniGameDummy.java
  backend/src/test/java/coffeeshout/minigame/domain/cardgame/CardGameTest.java
  backend/src/test/java/coffeeshout/room/application/RoomServiceTest.java
  backend/src/test/java/coffeeshout/room/domain/RoomTest.java
Labels: BE, ✨feat

#351 [feat] 주문 목록 페이지 웹소켓 연동
  frontend/src/features/miniGame/cardGame/pages/CardGamePlayPage.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
  frontend/src/features/room/order/components/MenuCount/MenuCount.styled.ts
  frontend/src/features/room/order/components/MenuCount/MenuCount.tsx
  frontend/src/features/room/order/components/PlayerMenu/PlayerMenu.styled.ts
  frontend/src/features/room/order/components/PlayerMenu/PlayerMenu.tsx
  frontend/src/features/room/order/pages/OrderPage.styled.ts
  frontend/src/features/room/order/pages/OrderPage.tsx
  frontend/src/types/player.ts
Labels: FE, ✨feat

#356 [chore] fe 에러트래킹 환경 구축
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/rest/apiRequest.ts
  frontend/src/main.tsx
  frontend/webpack.common.js
Labels: FE, ⚙️chore

#352 [feat] 미니게임의 실행을 백그라운드 스레드로 관리하는 로직 리팩터링
  backend/src/main/java/coffeeshout/global/config/MiniGameTaskSchedulerConfig.java
  backend/src/main/java/coffeeshout/minigame/application/CardGameService.java
  backend/src/main/java/coffeeshout/minigame/domain/MiniGameResultType.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/CardGameState.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/CardGameTaskExecutors.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/CardGameTaskExecutorsV2.java
  backend/src/main/java/coffeeshout/minigame/domain/task/CardGameTaskType.java
  backend/src/main/java/coffeeshout/minigame/domain/task/ChainedTask.java
  backend/src/main/java/coffeeshout/minigame/domain/task/MiniGameTaskManager.java
  backend/src/main/java/coffeeshout/minigame/domain/temp/CardGameTaskFactory.java
  backend/src/main/java/coffeeshout/minigame/domain/temp/CardGameTaskInfo.java
  backend/src/main/java/coffeeshout/minigame/domain/temp/TaskExecutor.java
  backend/src/main/java/coffeeshout/minigame/domain/temp/ThreadSleeper.java
  backend/src/main/java/coffeeshout/minigame/domain/temp/ThreadSleeperImpl.java
  backend/src/test/java/coffeeshout/fixture/PlayerProbabilitiesFixture.java
  backend/src/test/java/coffeeshout/fixture/RoomFixture.java
  backend/src/test/java/coffeeshout/minigame/application/CardGameServiceRealTimeTest.java
  backend/src/test/java/coffeeshout/minigame/application/CardGameServiceTest.java
  backend/src/test/java/coffeeshout/minigame/application/TestConfig.java
  backend/src/test/java/coffeeshout/minigame/domain/cardgame/CardGameTest.java
  backend/src/test/java/coffeeshout/minigame/ui/CardGameIntegrationTest.java
  backend/src/test/java/coffeeshout/room/domain/roulette/RouletteTest.java
  backend/src/test/java/coffeeshout/room/domain/service/RoomCommandServiceTest.java
Labels: BE

#371 [chore] github actions CI workflow 수정
  .github/workflows/backend-ci.yml
Labels: ⚙️chore

#367 [feat] 게임준비 기능 추가
  frontend/src/components/@common/Button/Button.styled.ts
  frontend/src/features/room/lobby/components/GameReadyButton/GameReadyButton.tsx
  frontend/src/features/room/lobby/components/GameStartButton/GameStartButton.tsx
  frontend/src/features/room/lobby/components/HostWaitingButton/HostWaitingButton.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
Labels: FE, ✨feat

#380 [refactor] 당첨자 반환 구독 엔드포인트 수정
  backend/src/main/java/coffeeshout/global/config/MiniGameTaskSchedulerConfig.java
  backend/src/main/java/coffeeshout/room/ui/RoomWebSocketController.java
  backend/src/test/java/coffeeshout/room/ui/RoomWebSocketControllerTest.java
Labels: BE, 🛠️refactor

#384 [chore] API URL을 HTTP -> HTTPS 로 변경
  frontend/src/apis/rest/apiRequest.ts
  frontend/src/apis/websocket/utils/getWebSocketUrl.ts
Labels: FE, ⚙️chore

#392 [feat] cardGame state에서 카드를 선택한 사용자의 colorIndex도 포함
  backend/src/main/java/coffeeshout/minigame/ui/response/MiniGameStateMessage.java
Labels: BE, ✨feat

#399 [refactor] Sentry 경로 https로 수정
  frontend/src/main.tsx
Labels: FE, 🛠️refactor

#375 [refactor] Selectbox 컴포넌트 리팩토링
  frontend/src/components/@common/SelectBox/SelectBox.stories.tsx
  frontend/src/components/@common/SelectBox/SelectBox.styled.ts
  frontend/src/components/@common/SelectBox/SelectBox.tsx
  frontend/src/components/@common/SelectBox/hooks/useClickOutside.ts
  frontend/src/components/@common/SelectBox/hooks/useSelectBox.ts
Labels: FE, 🛠️refactor

#388 [feat] 미니게임 선택 버튼에 설명 추가
  frontend/src/apis/rest/apiRequest.ts
  frontend/src/apis/websocket/utils/getWebSocketUrl.ts
  frontend/src/assets/card-icon.svg
  frontend/src/components/@common/Button/Button.styled.ts
  frontend/src/components/@common/GameActionButton/GameActionButton.stories.tsx
  frontend/src/components/@common/GameActionButton/GameActionButton.styled.ts
  frontend/src/components/@common/GameActionButton/GameActionButton.tsx
  frontend/src/components/@common/SelectBox/SelectBox.stories.tsx
  frontend/src/components/@common/SelectBox/SelectBox.styled.ts
  frontend/src/components/@common/SelectBox/SelectBox.tsx
  frontend/src/components/@common/SelectBox/hooks/useClickOutside.ts
  frontend/src/components/@common/SelectBox/hooks/useSelectBox.ts
  frontend/src/features/room/lobby/components/GameReadyButton/GameReadyButton.tsx
  frontend/src/features/room/lobby/components/GameStartButton/GameStartButton.tsx
  frontend/src/features/room/lobby/components/HostWaitingButton/HostWaitingButton.tsx
  frontend/src/features/room/lobby/components/MiniGameSection/MiniGameSection.styled.ts
  frontend/src/features/room/lobby/components/MiniGameSection/MiniGameSection.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
  frontend/src/main.tsx
  frontend/src/types/miniGame.ts
Labels: FE, ✨feat

#381 [feat] prod 배포 (CI, heart beat, 엔드포인트, 로깅 수정)
  .github/workflows/backend-ci.yml
  backend/src/main/java/coffeeshout/global/config/MiniGameTaskSchedulerConfig.java
  backend/src/main/java/coffeeshout/global/config/WebSocketConfig.java
  backend/src/main/java/coffeeshout/global/config/WebSocketSchedulerConfig.java
  backend/src/main/java/coffeeshout/global/log/LogAspect.java
  backend/src/main/java/coffeeshout/global/websocket/LoggingSimpMessagingTemplate.java
  backend/src/main/java/coffeeshout/minigame/ui/response/MiniGameStateMessage.java
  backend/src/main/java/coffeeshout/room/ui/RoomWebSocketController.java
  backend/src/test/java/coffeeshout/room/ui/RoomWebSocketControllerTest.java
Labels: BE, ✨feat

#378 [refactor] 다음 라운드로 넘어갈때 타이머 올바르게 초기화하기
  frontend/src/features/miniGame/cardGame/pages/CardGamePlayPage.tsx
Labels: FE, 🛠️refactor

#414 [feat] Players 생성자에 동기화된 리스트 적용
  backend/src/main/java/coffeeshout/room/domain/player/Players.java
Labels: BE, ✨feat

#410 [fix] 하나의 플로우가 끝날시 웹소켓 연결 안끊기는 문제 해결
  frontend/src/features/room/order/pages/OrderPage.tsx
Labels: 🐞bug, FE

#412 [refactor] 당첨자 구독 경로 winner로 수정
  frontend/src/features/room/roulette/pages/RoulettePlayPage/RoulettePlayPage.tsx
Labels: FE, 🛠️refactor

#415 [fix] 방 비즈니스 로직 예외 시 error 레벨로 변경
  backend/src/main/java/coffeeshout/room/domain/Room.java
  backend/src/test/java/coffeeshout/room/application/RoomServiceTest.java
  backend/src/test/java/coffeeshout/room/domain/RoomTest.java
Labels: BE

#407 [test] 통합 테스트 disabled 해제 및 테스트 실패 해결
  backend/src/test/java/coffeeshout/minigame/application/CardGameServiceRealTimeTest.java
Labels: BE, 🧪 test

#425 [chore] Sentry 에러 트래킹 처리
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/rest/apiRequest.ts
  frontend/src/apis/utils/reportSentryError.ts
  frontend/src/apis/websocket/contexts/WebSocketProvider.tsx
  frontend/webpack.common.js
Labels: FE, ⚙️chore

#430 [fix] Sentry DSN 키를 환경 변수에서 하드코딩 값으로 변경
  frontend/src/main.tsx
Labels: FE, ⚙️chore

#433 [chore] Sentry 초기화 코드 수정 및 환경변수 기본값 설정
  frontend/src/main.tsx
Labels: 🐞bug, FE, ⚙️chore

#441 [fix] 로비 페이지에서 새로고침 시 에러 뜨는 이슈
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
Labels: 🐞bug, FE

#445 [feat] 동점자 확률 처리 로직 처리
  backend/src/main/java/coffeeshout/minigame/domain/MiniGameResult.java
  backend/src/main/java/coffeeshout/room/domain/roulette/Probability.java
  backend/src/main/java/coffeeshout/room/domain/roulette/ProbabilityCalculator.java
  backend/src/main/java/coffeeshout/room/domain/roulette/Roulette.java
  backend/src/test/java/coffeeshout/minigame/domain/MiniGameResultTest.java
  backend/src/test/java/coffeeshout/room/domain/roulette/ProbabilityCalculatorTest.java
  backend/src/test/java/coffeeshout/room/domain/roulette/ProbabilityTest.java
  backend/src/test/java/coffeeshout/room/domain/roulette/RouletteTest.java
Labels: BE

#432 [feat] 룰렛 확률 조정 화면 구현
  frontend/src/App.tsx
  frontend/src/constants/zIndex.ts
  frontend/src/contexts/ProbabilityHistory/ProbabilityHistoryContext.ts
  frontend/src/contexts/ProbabilityHistory/ProbabilityHistoryProvider.tsx
  frontend/src/features/miniGame/pages/MiniGameResultPage/MiniGameResultPage.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
  frontend/src/features/room/roulette/components/RoulettePlaySection/RoulettePlaySection.styled.ts
  frontend/src/features/room/roulette/components/RoulettePlaySection/RoulettePlaySection.tsx
  frontend/src/features/room/roulette/pages/RoulettePlayPage/RoulettePlayPage.tsx
  frontend/src/features/roulette/components/RouletteWheel/RouletteWheel.styled.ts
  frontend/src/features/roulette/components/RouletteWheel/RouletteWheel.tsx
  frontend/src/features/roulette/hooks/useRouletteTransition.stories.tsx
  frontend/src/features/roulette/hooks/useRouletteTrantision.ts
  frontend/src/features/roulette/utils/interpolateAngles.ts
  frontend/src/types/roulette.ts
Labels: FE, ✨feat

#437 [feat] 서비스 설명 모달 UI 구현
  frontend/src/assets/guide1.png
  frontend/src/assets/guide2.png
  frontend/src/assets/guide3.png
  frontend/src/assets/guide4.png
  frontend/src/assets/guide5.png
  frontend/src/components/@common/Modal/ModalContext.tsx
  frontend/src/features/room/lobby/components/GuideModal/GuideContent/GuideContent.styled.ts
  frontend/src/features/room/lobby/components/GuideModal/GuideContent/GuideContent.tsx
  frontend/src/features/room/lobby/components/GuideModal/GuideModal.styled.ts
  frontend/src/features/room/lobby/components/GuideModal/GuideModal.tsx
  frontend/src/features/room/lobby/components/GuideModal/Pagination/Pagination.styled.ts
  frontend/src/features/room/lobby/components/GuideModal/Pagination/Pagination.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
  frontend/src/types/global.d.ts
Labels: FE, ✨feat

#478 [feat] 게임 설명 상태 추가
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/CardGame.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/CardGameState.java
  backend/src/main/java/coffeeshout/minigame/domain/task/CardGameTaskType.java
  backend/src/test/java/coffeeshout/minigame/application/CardGameServiceRealTimeTest.java
  backend/src/test/java/coffeeshout/minigame/ui/CardGameIntegrationTest.java
Labels: BE, ✨feat

#480 [feat] 앱 전환 시 웹소켓 재연결 및 해제 로직 추가
  backend/src/main/java/coffeeshout/global/handler/CustomStompChannelInterceptor.java
  backend/src/main/java/coffeeshout/global/interceptor/CustomStompChannelInterceptor.java
  backend/src/main/java/coffeeshout/global/websocket/event/RoomStateUpdateEvent.java
  backend/src/main/java/coffeeshout/global/websocket/event/RoomStateUpdateEventListener.java
  backend/src/main/java/coffeeshout/room/application/RoomService.java
  backend/src/main/java/coffeeshout/room/domain/Room.java
  backend/src/main/java/coffeeshout/room/domain/player/Players.java
  backend/src/main/java/coffeeshout/room/domain/roulette/Roulette.java
Labels: BE, ✨feat

#439 [fix] 아무것도 안눌렀을 때 랜덤 카드가 보이지 않는 문제 해결
  frontend/src/constants/miniGame.ts
  frontend/src/contexts/CardGame/CardGameContext.ts
  frontend/src/contexts/CardGame/CardGameProvider.tsx
  frontend/src/features/miniGame/cardGame/components/Round/Round.tsx
  frontend/src/features/miniGame/cardGame/pages/CardGamePlayPage.tsx
  frontend/src/features/miniGame/components/MiniGameTransition/MiniGameTransition.stories.tsx
  frontend/src/features/miniGame/components/MiniGameTransition/MiniGameTransition.tsx
  frontend/src/types/miniGame.ts
  frontend/src/types/round.ts
Labels: 🐞bug, FE

#484 [feat] 앱 전환 웹소켓 연결 안정화 수정
  backend/src/main/java/coffeeshout/global/interceptor/CustomStompChannelInterceptor.java
Labels: BE, ✨feat

#487 [feat] 앱 전환 시 웹소켓 안정화(menuId 포함)
  backend/src/main/java/coffeeshout/global/interceptor/CustomStompChannelInterceptor.java
Labels: BE, ✨feat

#488 [fix] Long타입 파싱하는 법 변경
  backend/src/main/java/coffeeshout/global/interceptor/CustomStompChannelInterceptor.java
Labels: 🐞bug, BE

#490 [fix] 플레이어-세션 매핑 키에서 `menuId` 제거 및 연결 해제 로직 수정
  backend/src/main/java/coffeeshout/global/interceptor/CustomStompChannelInterceptor.java
Labels: 🐞bug, BE

#483 [feat] 미니게임 선택 안하면 게임을 시작하지 못하도록 하기
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
Labels: FE, ✨feat

#498 [fix] 카드 선택시 화면에 동기화가 안되는 문제
  frontend/src/contexts/CardGame/CardGameProvider.tsx
  frontend/src/features/miniGame/cardGame/pages/CardGamePlayPage.tsx
Labels: 🐞bug, FE

#493 [feat] 룰렛 핀 추가, 당첨자 룰렛 영역에서 멈추게 조정
  frontend/src/constants/zIndex.ts
  frontend/src/features/room/roulette/components/RoulettePlaySection/RoulettePlaySection.tsx
  frontend/src/features/room/roulette/pages/RoulettePlayPage/RoulettePlayPage.tsx
  frontend/src/features/room/roulette/utils/calculateFinalRotation.ts
  frontend/src/features/roulette/components/RouletteWheel/RouletteWheel.stories.tsx
  frontend/src/features/roulette/components/RouletteWheel/RouletteWheel.styled.ts
  frontend/src/features/roulette/components/RouletteWheel/RouletteWheel.tsx
  frontend/src/features/roulette/utils/interpolateAngles.ts
Labels: FE, ✨feat

#475 [refactor] 룰렛 관련 컴포넌트,훅 리팩토링
  frontend/.gitignore
  frontend/src/constants/zIndex.ts
  frontend/src/features/room/roulette/components/RoulettePlaySection/RoulettePlaySection.tsx
  frontend/src/features/room/roulette/pages/RoulettePlayPage/RoulettePlayPage.tsx
  frontend/src/features/room/roulette/utils/calculateFinalRotation.ts
  frontend/src/features/roulette/components/RouletteSlice/RouletteSlice.styled.ts
  frontend/src/features/roulette/components/RouletteSlice/RouletteSlice.tsx
  frontend/src/features/roulette/components/RouletteWheel/RouletteWheel.stories.tsx
  frontend/src/features/roulette/components/RouletteWheel/RouletteWheel.styled.ts
  frontend/src/features/roulette/components/RouletteWheel/RouletteWheel.tsx
  frontend/src/features/roulette/constants/config.ts
  frontend/src/features/roulette/hooks/useRouletteTransition.stories.tsx
  frontend/src/features/roulette/hooks/useRouletteTransition.ts
  frontend/src/features/roulette/utils/convertProbabilitiesToAngles.ts
  frontend/src/features/roulette/utils/describeArc.ts
  frontend/src/features/roulette/utils/getCenterAngle.ts
  frontend/src/features/roulette/utils/getTextPosition.ts
  frontend/src/features/roulette/utils/index.ts
  frontend/src/features/roulette/utils/interpolateAngles.ts
  frontend/src/types/roulette.ts
Labels: FE, 🛠️refactor

#497 [fix] 룰렛 페이지에서 당첨 확률 변화 무한한 소수점이 생기는 문제
  frontend/src/features/room/roulette/components/RoulettePlaySection/RoulettePlaySection.tsx
Labels: 🐞bug, FE

#524 [feat] 앱 전환시 제거된 플레이어, 룰렛에도 반영
  backend/src/main/java/coffeeshout/global/websocket/event/RoomStateUpdateEventListener.java
  backend/src/test/java/coffeeshout/global/interceptor/CustomStompChannelInterceptorTest.java
  backend/src/test/java/coffeeshout/global/interceptor/handler/postsend/DisconnectPostSendHandlerTest.java
Labels: BE, ✨feat

#532 [fix] isReady가 undefined일 수있는 오류 해결
  frontend/src/features/room/lobby/components/ParticipantSection/ParticipantSection.tsx
Labels: 🐞bug, FE

#214 [docs] Room 도메인모델 추가
  backend/docs/도메인모델.md
  backend/docs/카드게임도메인모델.md
Labels: 📝docs

#539 [refactor] description -> prepare로 수정
  frontend/src/contexts/CardGame/CardGameProvider.tsx
  frontend/src/features/miniGame/cardGame/pages/CardGamePlayPage.tsx
  frontend/src/features/miniGame/cardGame/pages/CardGameReadyPage.tsx
  frontend/src/types/miniGame.ts
Labels: FE, 🛠️refactor

#546 refactor: prepare로 수정 (#539)
  frontend/src/contexts/CardGame/CardGameProvider.tsx
  frontend/src/features/miniGame/cardGame/pages/CardGamePlayPage.tsx
  frontend/src/features/miniGame/cardGame/pages/CardGameReadyPage.tsx
  frontend/src/types/miniGame.ts
Labels: FE, 🛠️refactor

#547 [feat] player의 Disconnect 감지 시, 15초 뒤에 삭제되는 로직 구현
  backend/src/main/java/coffeeshout/global/config/DelayRemovalSchedulerConfig.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/postsend/ConnectPostSendHandler.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/postsend/DisconnectPostSendHandler.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/presend/ConnectPreSendHandler.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/presend/ErrorPreSendHandler.java
  backend/src/main/java/coffeeshout/global/websocket/DelayedPlayerRemovalService.java
  backend/src/test/java/coffeeshout/global/interceptor/CustomStompChannelInterceptorTest.java
  backend/src/test/java/coffeeshout/global/interceptor/handler/postsend/DisconnectPostSendHandlerTest.java
  backend/src/test/java/coffeeshout/global/interceptor/handler/presend/ConnectPreSendHandlerTest.java
  backend/src/test/java/coffeeshout/global/websocket/DelayedPlayerRemovalServiceIntegrationTest.java
  backend/src/test/java/coffeeshout/global/websocket/DelayedPlayerRemovalServiceTest.java
  backend/src/test/java/coffeeshout/global/websocket/StompSessionManagerTest.java
  backend/src/test/java/coffeeshout/websocket/WebSocketConnectionTest.java
  backend/src/test/java/coffeeshout/websocket/WebSocketSimpleTest.java
Labels: BE, ✨feat

#548 [feat] 호스트 퇴장 시, 남은 플레이어 중 랜덤으로 한 명 호스트로 승격하는 로직 구현
  backend/src/main/java/coffeeshout/global/websocket/event/RoomStateUpdateEvent.java
  backend/src/main/java/coffeeshout/global/websocket/event/RoomStateUpdateEventListener.java
  backend/src/main/java/coffeeshout/room/domain/Room.java
  backend/src/main/java/coffeeshout/room/domain/player/Players.java
  backend/src/test/java/coffeeshout/room/domain/RoomTest.java
Labels: BE, ✨feat

#571 [chore] buildspec 설정
  .github/workflows/frontend-cd.yml
  .github/workflows/frontend-ci.yml
  frontend/.nvmrc
  frontend/buildspec.yml
Labels: FE, ⚙️chore

#572 [chore] 환경변수 수정
  .github/workflows/frontend-ci.yml
  frontend/buildspec.yml
  frontend/src/apis/rest/apiRequest.ts
  frontend/src/apis/websocket/utils/getWebSocketUrl.ts
  frontend/src/main.tsx
  frontend/webpack.common.js
Labels: FE, ⚙️chore

#541 [refactor] CardGameService에서의 메시지 전송은 이벤트 리스너 활용
  backend/src/main/java/coffeeshout/minigame/application/CardGameService.java
  backend/src/main/java/coffeeshout/minigame/commom/task/ChainedTask.java
  backend/src/main/java/coffeeshout/minigame/commom/task/TaskManager.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/CardGameEventListener.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/CardGameTaskExecutors.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/CardGameTaskType.java
  backend/src/main/java/coffeeshout/minigame/domain/dto/CardGameStartEvent.java
  backend/src/main/java/coffeeshout/minigame/domain/dto/CardGameStateChangeEvent.java
  backend/src/main/java/coffeeshout/minigame/domain/dto/CardSelectEvent.java
  backend/src/test/java/coffeeshout/minigame/application/CardGameServiceRealTimeTest.java
  backend/src/test/java/coffeeshout/minigame/application/CardGameServiceTest.java
  backend/src/test/java/coffeeshout/minigame/ui/CardGameIntegrationTest.java
Labels: BE, 🛠️refactor

#565 [feat] Toast 컴포넌트 구현
  frontend/.storybook/preview.tsx
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/assets/gray-info.svg
  frontend/src/assets/white-info.svg
  frontend/src/components/@common/Modal/Modal.styled.ts
  frontend/src/components/@common/Toast/Icons/ErrorIcon.tsx
  frontend/src/components/@common/Toast/Icons/InfoIcon.tsx
  frontend/src/components/@common/Toast/Icons/SuccessIcon.tsx
  frontend/src/components/@common/Toast/Icons/WarningIcon.tsx
  frontend/src/components/@common/Toast/Toast.stories.tsx
  frontend/src/components/@common/Toast/Toast.styled.ts
  frontend/src/components/@common/Toast/Toast.tsx
  frontend/src/components/@common/Toast/ToastContext.tsx
  frontend/src/components/@common/Toast/types.ts
  frontend/src/components/@common/Toast/useToast.ts
  frontend/src/constants/zIndex.ts
Labels: FE, ✨feat

#567 [feat] 호스트가 방을 나갈 경우, 다른 게스트에게 자동으로 호스트 권한 위임
  frontend/src/contexts/PlayerType/PlayerTypeContext.ts
  frontend/src/contexts/PlayerType/PlayerTypeProvider.tsx
  frontend/src/features/entry/pages/EntryMenuPage/EntryMenuPage.tsx
  frontend/src/features/entry/pages/EntryNamePage/EntryNamePage.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
  frontend/src/features/room/order/components/MenuCount/MenuCount.tsx
  frontend/src/features/room/order/components/PlayerMenu/PlayerMenu.tsx
  frontend/src/features/room/order/pages/OrderPage.tsx
Labels: FE, ✨feat

#579 [feat] http 처리 메트릭 추가
  backend/src/main/java/coffeeshout/global/filter/HttpMetricFilter.java
  backend/src/main/java/coffeeshout/global/metric/HttpMetricService.java
  backend/src/main/resources/application.yml
Labels: BE, ✨feat

#586 [fix] room이 없을 때는 broadcast 안하도록 수정
  backend/src/main/java/coffeeshout/global/websocket/event/RoomStateUpdateEventListener.java
  backend/src/test/java/coffeeshout/global/websocket/event/RoomStateUpdateEventListenerTest.java
Labels: 🐞bug, BE

#583 [fix] 특정 비율에서 서비스 설명 모달내용이 모달창을 뚫고 내려오는 문제 해결
  frontend/src/features/room/lobby/components/GuideModal/GuideContent/GuideContent.styled.ts
Labels: 🐞bug, FE

#580 [feat] 이미지 저장 버튼 삭제
  frontend/src/assets/download-icon.svg
  frontend/src/features/room/order/pages/OrderPage.tsx
Labels: FE

#592 [fix] 로고 이미지 반응형 처리
  frontend/src/features/home/pages/HomePage.styled.ts
Labels: 🐞bug, FE

#600 [fix] 백그라운드에서 포그라운드로 돌아올 때 사용자 정보 확인 및 리디렉션 처리
  frontend/src/App.tsx
  frontend/src/apis/websocket/contexts/WebSocketProvider.tsx
  frontend/src/apis/websocket/hooks/useBackgroundRedirect.ts
  frontend/src/apis/websocket/hooks/useWebSocketReconnection.ts
Labels: 🐞bug, FE

#606 [feat] alert -> toast로 변경
  frontend/src/components/@common/Toast/Toast.styled.ts
  frontend/src/features/entry/pages/EntryMenuPage/EntryMenuPage.tsx
  frontend/src/features/entry/pages/EntryNamePage/EntryNamePage.tsx
  frontend/src/features/room/lobby/components/ParticipantSection/ParticipantSection.tsx
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
Labels: FE
