Repository woowacourse-teams/2025-coffee-shout, pull requests merged in 2025-09, with the labels that each got.

#620 [feat] 아이콘 + 텍스트가 있는 공통 컴포넌트 추출
  frontend/.storybook/preview.tsx
  frontend/src/components/@common/CircleIcon/CircleIcon.stories.tsx
  frontend/src/components/@common/CircleIcon/CircleIcon.styled.ts
  frontend/src/components/@common/CircleIcon/CircleIcon.tsx
  frontend/src/components/@common/IconTextItem/IconTextItem.stories.tsx
  frontend/src/components/@common/IconTextItem/IconTextItem.styled.ts
  frontend/src/components/@common/IconTextItem/IconTextItem.tsx
  frontend/src/components/@composition/PlayerCard/PlayerCard.styled.ts
  frontend/src/components/@composition/PlayerCard/PlayerCard.tsx
  frontend/src/components/@composition/PlayerIcon/PlayerIcon.stories.tsx
  frontend/src/components/@composition/PlayerIcon/PlayerIcon.tsx
Labels: FE, ✨feat

#623 [feat] 세션 연결 해제 로그에 closeStatus 및 해제 사유 추가
  backend/src/main/java/coffeeshout/global/websocket/event/SessionDisconnectEventListener.java
Labels: BE, ✨feat

#621 [feat] 메뉴 페이지 개선에 필요한 컴포넌트 구현
  frontend/src/components/@common/CustomMenuInput/CustomMenuInput.stories.tsx
  frontend/src/components/@common/CustomMenuInput/CustomMenuInput.styled.ts
  frontend/src/components/@common/CustomMenuInput/CustomMenuIntput.tsx
  frontend/src/components/@common/IconTextItem/IconTextItem.tsx
  frontend/src/components/@common/MenuListItem/MenuListItem.stories.tsx
  frontend/src/components/@common/MenuListItem/MenuListItem.styled.ts
  frontend/src/components/@common/MenuListItem/MenuListItem.tsx
  frontend/src/components/@common/SelectionCard/SelectionCard.stories.tsx
  frontend/src/components/@common/SelectionCard/SelectionCard.styled.ts
  frontend/src/components/@common/SelectionCard/SelectionCard.tsx
  frontend/src/components/@common/TemperatureToggle/Temperature.stories.tsx
  frontend/src/components/@common/TemperatureToggle/TemperatureOptionButton/TemperatureOptionButton.tsx
  frontend/src/components/@common/TemperatureToggle/TemperatureOptionButton/TemperatureToggleButton.styled.ts
  frontend/src/components/@common/TemperatureToggle/TemperatureToggle.styled.ts
  frontend/src/components/@common/TemperatureToggle/TemperatureToggle.tsx
  frontend/src/components/@common/TemperatureToggle/temperatureOption.ts
  frontend/src/components/@composition/CafeCategoryCard/CafeCategoryCard.stories.tsx
  frontend/src/components/@composition/CafeCategoryCard/CafeCategoryCard.styled.ts
  frontend/src/components/@composition/CafeCategoryCard/CafeCategoryCard.tsx
Labels: FE, ✨feat

#626 [feat] 방 입장 QR 코드 도입 - 1
  backend/build.gradle.kts
  backend/docs/도메인모델.md
  backend/src/main/java/coffeeshout/CoffeeShoutApplication.java
  backend/src/main/java/coffeeshout/global/config/AwsConfig.java
  backend/src/main/java/coffeeshout/global/config/AwsLocalConfig.java
  backend/src/main/java/coffeeshout/global/config/QrCodeConfig.java
  backend/src/main/java/coffeeshout/global/config/properties/QrProperties.java
  backend/src/main/java/coffeeshout/global/exception/RestExceptionHandler.java
  backend/src/main/java/coffeeshout/global/exception/custom/QRCodeGenerationException.java
  backend/src/main/java/coffeeshout/global/exception/custom/StorageServiceException.java
  backend/src/main/java/coffeeshout/global/log/LogAspect.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/CardGameEventListener.java
  backend/src/main/java/coffeeshout/room/application/DelayedRoomRemovalService.java
  backend/src/main/java/coffeeshout/room/application/LocalStorageService.java
  backend/src/main/java/coffeeshout/room/application/QrCodeService.java
  backend/src/main/java/coffeeshout/room/application/RoomService.java
  backend/src/main/java/coffeeshout/room/application/StorageService.java
  backend/src/main/java/coffeeshout/room/domain/JoinCode.java
  backend/src/main/java/coffeeshout/room/domain/Room.java
  backend/src/main/java/coffeeshout/room/domain/RoomErrorCode.java
  backend/src/main/java/coffeeshout/room/domain/service/QrCodeGenerator.java
  backend/src/main/java/coffeeshout/room/infra/S3Service.java
  backend/src/main/java/coffeeshout/room/infra/ZxingQrCodeGenerator.java
  backend/src/main/java/coffeeshout/room/ui/RoomRestController.java
  backend/src/main/java/coffeeshout/room/ui/response/QrCodeResponse.java
  backend/src/main/java/coffeeshout/room/ui/response/RoomCreateResponse.java
  backend/src/main/java/coffeeshout/room/ui/response/RoomEnterResponse.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application.yml
  backend/src/test/java/coffeeshout/fixture/WebSocketIntegrationTestSupport.java
  backend/src/test/java/coffeeshout/global/ServiceTest.java
  backend/src/test/java/coffeeshout/global/config/IntegrationTestConfig.java
  backend/src/test/java/coffeeshout/global/config/ServiceTestConfig.java
  backend/src/test/java/coffeeshout/global/config/ShutDownTestScheduler.java
  backend/src/test/java/coffeeshout/global/config/TestTaskScheduler.java
  backend/src/test/java/coffeeshout/minigame/application/CardGameServiceTest.java
  backend/src/test/java/coffeeshout/minigame/ui/CardGameIntegrationTest.java
  backend/src/test/java/coffeeshout/room/application/QrCodeServiceTest.java
  backend/src/test/java/coffeeshout/room/application/RoomServiceTest.java
  backend/src/test/java/coffeeshout/room/infra/S3ServiceSimpleTest.java
  backend/src/test/java/coffeeshout/room/ui/RoomWebSocketControllerTest.java
  backend/src/test/java/coffeeshout/support/test/IntegrationTest.java
  backend/src/test/java/coffeeshout/websocket/WebSocketConnectionTest.java
  backend/src/test/java/coffeeshout/websocket/WebSocketSimpleTest.java
  backend/src/test/resources/application-test.yml
Labels: BE, ✨feat

#633 [fix] dto 필드 이름 수정
  backend/src/main/java/coffeeshout/room/ui/RoomRestController.java
  backend/src/main/java/coffeeshout/room/ui/request/RoomEnterRequest.java
Labels: BE

#646 [fix] update-players DTO생성 과정에서 예외 발생하는 오류 수정
  backend/src/main/java/coffeeshout/room/ui/response/PlayerResponse.java
Labels: 🐞bug, BE

#636 [refactor] 주문 목록 페이지에 hot/ice 정보 추가
  frontend/src/features/room/order/components/MenuCount/MenuCount.tsx
  frontend/src/features/room/order/components/PlayerMenu/PlayerMenu.tsx
Labels: FE, 🛠️refactor

#649 [chore] 직접 입력으로 메뉴 입력한 경우에 표시되는 카테고리 이미지 url 추가
  backend/src/main/resources/application.yml
Labels: BE

#679 [design] 글씨 색상 파랗게 나오는 부분 수정
  frontend/src/components/@common/IconTextItem/IconTextItem.styled.ts
  frontend/src/components/@common/IconTextItem/IconTextItem.tsx
  frontend/src/components/@common/MenuListItem/MenuListItem.styled.ts
  frontend/src/components/@common/MenuListItem/MenuListItem.tsx
  frontend/src/features/room/lobby/components/JoinCodeModal/InvitationModal.tsx
  frontend/src/features/room/lobby/components/TabBar/TabBar.styled.ts
Labels: FE, Design

#682 [fix] 잘못된 경로로 lobby 페이지에 접근했을 때 에러 페이지 뜨는 이슈
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
Labels: 🐞bug, FE

#689 [chore] 웹팩 prod/dev 올바르게 설정되도록 변경
  frontend/.gitignore
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: FE, ⚙️chore

#680 [feat] 여러 조건에 따른 웹소켓 재연결 로직 처리
  .gitignore
  frontend/src/apis/websocket/constants/constants.ts
  frontend/src/apis/websocket/contexts/WebSocketContext.ts
  frontend/src/apis/websocket/contexts/WebSocketProvider.tsx
  frontend/src/apis/websocket/hooks/useBackgroundRedirect.ts
  frontend/src/apis/websocket/hooks/usePageVisibility.ts
  frontend/src/apis/websocket/hooks/useWebSocketConnection.ts
  frontend/src/apis/websocket/hooks/useWebSocketReconnection.ts
  frontend/src/apis/websocket/hooks/useWebSocketSubscription.ts
  frontend/src/apis/websocket/utils/WebSocketErrorHandler.ts
  frontend/src/apis/websocket/utils/createStompClient.ts
  frontend/src/contexts/Identifier/IdentifierContext.ts
  frontend/src/contexts/Identifier/IdentifierProvider.tsx
  frontend/src/contexts/PlayerType/PlayerTypeProvider.tsx
  frontend/src/features/entry/pages/EntryMenuPage/EntryMenuPage.tsx
  frontend/src/features/room/lobby/components/JoinCodeModal/InvitationModal.stories.tsx
  frontend/src/features/room/lobby/components/JoinCodeModal/InvitationModal.tsx
  frontend/src/features/room/lobby/hooks/useParticipantValidation.ts
  frontend/src/features/room/lobby/pages/LobbyPage.tsx
  frontend/src/hooks/usePageVisibility.ts
Labels: 💖enhancement, FE, ✨feat

#696 [fix] 웹팩 환경변수 오류 수정
  frontend/webpack.common.js
Labels: 🐞bug, FE

#697 [fix] SENTRY_DSN -> DSN_KEY로 변경
  frontend/src/main.tsx
Labels: 🐞bug, FE

#705 [fix] 메뉴 직접 입력시 로비로 넘어가지 않는 오류
  frontend/src/features/entry/pages/EntryMenuPage/EntryMenuPage.tsx
Labels: 🐞bug, FE

#707 [fix] 웹소켓 끊김 시 방 생존 여부 상태를 활용한 로비 화면 분기 처리
  frontend/src/features/room/lobby/hooks/useParticipantValidation.ts
  frontend/webpack.common.js
Labels: 🐞bug, FE

#709 [chore] Toast 타이머 단축
  frontend/src/components/@common/Toast/ToastContext.tsx
Labels: 💖enhancement, FE

#713 [refactor] Roulette 내부의 확률 Player로 이동
  backend/src/main/java/coffeeshout/room/application/RoomService.java
  backend/src/main/java/coffeeshout/room/domain/Room.java
  backend/src/main/java/coffeeshout/room/domain/player/Player.java
  backend/src/main/java/coffeeshout/room/domain/player/Players.java
  backend/src/main/java/coffeeshout/room/domain/roulette/Roulette.java
  backend/src/main/java/coffeeshout/room/domain/roulette/RouletteRanges.java
  backend/src/main/java/coffeeshout/room/ui/response/PlayerResponse.java
  backend/src/test/java/coffeeshout/fixture/PlayerFixture.java
  backend/src/test/java/coffeeshout/fixture/PlayerProbabilitiesFixture.java
  backend/src/test/java/coffeeshout/fixture/PlayersFixture.java
  backend/src/test/java/coffeeshout/fixture/RoomFixture.java
  backend/src/test/java/coffeeshout/fixture/RouletteFixture.java
  backend/src/test/java/coffeeshout/minigame/application/CardGameServiceTest.java
  backend/src/test/java/coffeeshout/minigame/domain/cardgame/CardGameTest.java
  backend/src/test/java/coffeeshout/room/domain/RoomTest.java
  backend/src/test/java/coffeeshout/room/domain/player/PlayersTest.java
  backend/src/test/java/coffeeshout/room/domain/roulette/RouletteRangesTest.java
  backend/src/test/java/coffeeshout/room/domain/roulette/RouletteTest.java
  backend/src/test/java/coffeeshout/room/ui/RoomWebSocketControllerTest.java
Labels: BE, 🛠️refactor

#731 [refactor] 카드게임을 이벤트기반 진행하도록 리팩터링
  backend/src/main/java/coffeeshout/global/config/MiniGameTaskSchedulerConfig.java
  backend/src/main/java/coffeeshout/minigame/application/CardGameService.java
  backend/src/main/java/coffeeshout/minigame/common/task/ChainedTask.java
  backend/src/main/java/coffeeshout/minigame/common/task/TaskManager.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/CardGameTaskExecutors.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/CardGameTaskType.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/MiniGameTask.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/event/CardGameMessageConsumer.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/event/CardGameMessagePublisher.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/event/CardGameWebSocketBroker.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/event/dto/CardGameStartMessage.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/event/dto/CardGameStartedEvent.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/event/dto/CardGameStateChangeMessage.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/event/dto/CardGameStateChangedEvent.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/event/dto/CardSelectedEvent.java
  backend/src/main/java/coffeeshout/minigame/domain/dto/CardGameStartEvent.java
  backend/src/main/java/coffeeshout/minigame/domain/dto/CardGameStateChangeEvent.java
  backend/src/main/java/coffeeshout/minigame/domain/dto/CardSelectEvent.java
  backend/src/main/java/coffeeshout/room/domain/JoinCode.java
  backend/src/test/java/coffeeshout/global/ServiceTest.java
  backend/src/test/java/coffeeshout/global/config/ServiceTestConfig.java
  backend/src/test/java/coffeeshout/global/config/TestTaskScheduler.java
  backend/src/test/java/coffeeshout/minigame/application/CardGameServiceTest.java
  backend/src/test/java/coffeeshout/minigame/ui/CardGameIntegrationTest.java
Labels: BE, 🛠️refactor

#736 [fix] 카테고리와 메뉴 선택 화면에서 스크롤 안되는 현상
  frontend/src/features/entry/pages/EntryMenuPage/EntryMenuPage.styled.ts
  frontend/src/features/entry/pages/EntryMenuPage/components/SelectCategory/SelectCategory.styled.ts
  frontend/src/features/entry/pages/EntryMenuPage/components/SelectMenu/SelectMenu.styled.ts
  frontend/src/features/entry/pages/EntryMenuPage/components/SelectMenu/SelectMenu.tsx
Labels: 🐞bug, FE

#739 [perf] Layout Shift 제거
  frontend/package.json
  frontend/src/features/home/components/Splash/Splash.styled.ts
  frontend/src/features/miniGame/cardGame/components/PrepareOverlay/PrepareOverlay.styled.ts
  frontend/src/features/miniGame/cardGame/components/PrepareOverlay/PrepareOverlay.tsx
  frontend/src/features/room/lobby/components/GuideModal/GuideModal.styled.ts
  frontend/src/features/room/order/pages/OrderPage.styled.ts
  frontend/src/features/room/order/pages/OrderPage.tsx
  frontend/src/features/room/roulette/components/RoulettePlaySection/RoulettePlaySection.styled.ts
  frontend/src/features/room/roulette/pages/RouletteResultPage/RouletteResultPage.styled.ts
Labels: 💖enhancement, FE

#760 [feat] 웹소켓 메시지 송 수신 메트릭 수집 기능 추가
  backend/src/main/java/coffeeshout/global/config/WebSocketMessageBrokerConfig.java
  backend/src/main/java/coffeeshout/global/interceptor/CustomStompChannelInterceptor.java
  backend/src/main/java/coffeeshout/global/interceptor/WebSocketInboundMetricInterceptor.java
  backend/src/main/java/coffeeshout/global/interceptor/WebSocketOutboundMetricInterceptor.java
  backend/src/main/java/coffeeshout/global/metric/WebSocketMetricService.java
Labels: BE, ✨feat

#761 [fix] 세션 관리 Interceptor에서 Spring WebSocket Event 감지 시점으로 변경
  backend/src/main/java/coffeeshout/global/config/WebSocketMessageBrokerConfig.java
  backend/src/main/java/coffeeshout/global/interceptor/CustomStompChannelInterceptor.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/PostSendHandler.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/PreSendHandler.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/StompHandlerRegistry.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/postsend/ConnectPostSendHandler.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/postsend/DisconnectPostSendHandler.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/presend/ConnectPreSendHandler.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/presend/DisconnectPreSendHandler.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/presend/ErrorPreSendHandler.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/presend/SendPreSendHandler.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/presend/SubscribePreSendHandler.java
  backend/src/main/java/coffeeshout/global/interceptor/handler/presend/UnSubscribePreSendHandler.java
  backend/src/main/java/coffeeshout/global/metric/WebSocketMetricService.java
  backend/src/main/java/coffeeshout/global/websocket/event/SessionConnectEventListener.java
  backend/src/main/java/coffeeshout/global/websocket/event/SessionDisconnectEventListener.java
  backend/src/main/java/coffeeshout/global/websocket/event/SessionSubscribeEventListener.java
  backend/src/test/java/coffeeshout/global/interceptor/CustomStompChannelInterceptorTest.java
  backend/src/test/java/coffeeshout/global/interceptor/handler/postsend/DisconnectPostSendHandlerTest.java
  backend/src/test/java/coffeeshout/global/interceptor/handler/presend/ConnectPreSendHandlerTest.java
  backend/src/test/java/coffeeshout/global/websocket/SessionDisconnectEventListenerTest.java
Labels: 🐞bug, BE

#762 [perf] 폰트 최적화
  frontend/package-lock.json
  frontend/package.json
  frontend/public/fonts/PartialSansKR-Subset.woff2
  frontend/public/index.html
  frontend/webpack.common.js
Labels: 💖enhancement, FE

#748 [perf] css/js 최적화
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/index.ts
  frontend/src/router.tsx
  frontend/webpack.common.js
Labels: 💖enhancement, FE

#769 [fix] LogAspect 동작 해결
  backend/src/main/java/coffeeshout/global/config/WebSocketMessageBrokerConfig.java
  backend/src/main/java/coffeeshout/global/log/LogAspect.java
Labels: BE, 🛠️refactor

#781 [fix] 분산환경에서 cardgame의 deck 동기화 수정
  backend/src/main/java/coffeeshout/minigame/domain/MiniGameType.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/CardGame.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/card/AdditionCards.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/card/CardGameDeckGenerator.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/card/CardGameRandomDeckGenerator.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/card/Deck.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/card/MultiplierCards.java
  backend/src/main/java/coffeeshout/room/application/RoomService.java
  backend/src/test/java/coffeeshout/fixture/CardGameDeckStub.java
  backend/src/test/java/coffeeshout/fixture/CardGameFake.java
  backend/src/test/java/coffeeshout/minigame/application/CardGameServiceTest.java
  backend/src/test/java/coffeeshout/minigame/domain/cardgame/CardGameRandomDeckGeneratorTest.java
  backend/src/test/java/coffeeshout/minigame/domain/cardgame/card/AdditionCardsTest.java
  backend/src/test/java/coffeeshout/minigame/domain/cardgame/card/MultiplierCardsTest.java
  backend/src/test/java/coffeeshout/minigame/ui/CardGameIntegrationTest.java
  backend/src/test/java/coffeeshout/room/domain/RoomTest.java
Labels: 🐞bug, BE

#796 [feat] 메뉴 변경 관련 로직 제거
  frontend/src/features/room/lobby/components/MenuModifyModal/MenuModifyModal.styled.ts
  frontend/src/features/room/lobby/components/MenuModifyModal/MenuModifyModal.tsx
  frontend/src/features/room/lobby/components/ParticipantSection/ParticipantSection.styled.ts
  frontend/src/features/room/lobby/components/ParticipantSection/ParticipantSection.tsx
Labels: FE, ✨feat

#730 [feat] Redis Stream 도입
  backend/src/main/java/coffeeshout/global/config/properties/RedisStreamProperties.java
  backend/src/main/java/coffeeshout/global/config/redis/RedisConfig.java
  backend/src/main/java/coffeeshout/global/config/redis/RedisContainerConfig.java
  backend/src/main/java/coffeeshout/global/exception/RestExceptionHandler.java
  backend/src/main/java/coffeeshout/global/message/FromStartStrategy.java
  backend/src/main/java/coffeeshout/global/message/LatestStrategy.java
  backend/src/main/java/coffeeshout/global/message/RedisStreamStartStrategy.java
  backend/src/main/java/coffeeshout/global/websocket/event/RoomStateUpdateEventListener.java
  backend/src/main/java/coffeeshout/minigame/application/CardGameService.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/event/CardGameMessagePublisher.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/event/SelectCardCommandEvent.java
  backend/src/main/java/coffeeshout/minigame/domain/cardgame/service/CardGameCommandService.java
  backend/src/main/java/coffeeshout/minigame/infra/messaging/CardSelectStreamConsumer.java
  backend/src/main/java/coffeeshout/minigame/infra/messaging/CardSelectStreamProducer.java
  backend/src/main/java/coffeeshout/minigame/infra/messaging/MiniGameEventPublisher.java
  backend/src/main/java/coffeeshout/minigame/infra/messaging/MiniGameEventSubscriber.java
  backend/src/main/java/coffeeshout/minigame/infra/messaging/handler/MiniGameEventHandler.java
  backend/src/main/java/coffeeshout/minigame/infra/messaging/handler/SelectCardCommandEventHandler.java
  backend/src/main/java/coffeeshout/minigame/infra/messaging/handler/StartMiniGameCommandEventHandler.java
  backend/src/main/java/coffeeshout/room/application/RoomService.java
  backend/src/main/java/coffeeshout/room/domain/player/PlayerName.java
  backend/src/main/java/coffeeshout/room/domain/service/JoinCodeGenerator.java
  backend/src/main/java/coffeeshout/room/domain/service/MenuCommandService.java
  backend/src/main/java/coffeeshout/room/domain/service/RoomCommandService.java
  backend/src/main/java/coffeeshout/room/infra/messaging/RoomEnterStreamConsumer.java
  backend/src/main/java/coffeeshout/room/infra/messaging/RoomEnterStreamProducer.java
  backend/src/main/java/coffeeshout/room/infra/messaging/RoomEventPublisher.java
  backend/src/main/java/coffeeshout/room/infra/messaging/RoomEventSubscriber.java
  backend/src/main/java/coffeeshout/room/infra/messaging/RoomEventWaitManager.java
  backend/src/main/java/coffeeshout/room/infra/messaging/handler/MiniGameSelectEventHandler.java
  backend/src/main/java/coffeeshout/room/infra/messaging/handler/PlayerListUpdateEventHandler.java
  backend/src/main/java/coffeeshout/room/infra/messaging/handler/PlayerReadyEventHandler.java
  backend/src/main/java/coffeeshout/room/infra/messaging/handler/RoomCreateEventHandler.java
  backend/src/main/java/coffeeshout/room/infra/messaging/handler/RoomEventHandler.java
  backend/src/main/java/coffeeshout/room/infra/messaging/handler/RoomEventHandlerFactory.java
  backend/src/main/java/coffeeshout/room/infra/messaging/handler/RoomJoinEventHandler.java
  backend/src/main/java/coffeeshout/room/infra/messaging/handler/RouletteShowEventHandler.java
  backend/src/main/java/coffeeshout/room/infra/messaging/handler/RouletteSpinEventHandler.java
  backend/src/main/java/coffeeshout/room/ui/RoomRestController.java
  backend/src/main/java/coffeeshout/room/ui/RoomWebSocketController.java
  backend/src/main/java/coffeeshout/room/ui/request/RoomEnterRequest.java
  backend/src/main/java/coffeeshout/room/ui/request/SelectedMenuRequest.java
  backend/src/main/resources/application.yml
  backend/src/test/java/coffeeshout/fixture/MenuFixture.java
  backend/src/test/java/coffeeshout/global/websocket/event/RoomStateUpdateEventListenerTest.java
  backend/src/test/java/coffeeshout/minigame/infra/messaging/CardSelectStreamProducerTest.java
  backend/src/test/java/coffeeshout/room/application/MenuCategoryServiceTest.java
  backend/src/test/java/coffeeshout/room/application/MenuServiceTest.java
  backend/src/test/java/coffeeshout/room/domain/menu/CustomMenuTest.java
  backend/src/test/java/coffeeshout/room/domain/menu/MenuCategoryTest.java
  backend/src/test/java/coffeeshout/room/domain/menu/MenuTemperatureTest.java
  backend/src/test/java/coffeeshout/room/domain/menu/ProvidedMenuTest.java
  backend/src/test/java/coffeeshout/room/domain/menu/TemperatureAvailabilityTest.java
  backend/src/test/java/coffeeshout/room/domain/service/MenuCategoryQueryServiceTest.java
  backend/src/test/java/coffeeshout/room/domain/service/MenuQueryServiceTest.java
  backend/src/test/java/coffeeshout/room/infra/messaging/RoomEnterStreamProducerTest.java
  backend/src/test/java/coffeeshout/room/ui/MenuCategoryRestControllerTest.java
  backend/src/test/java/coffeeshout/room/ui/RoomRestControllerTest.java
Labels: BE, ✨feat

#750 [feat] 모바일 버튼 클릭 효과 추가
  frontend/src/assets/back-icon.svg
  frontend/src/components/@common/BackButton/BackButton.styled.ts
  frontend/src/components/@common/BackButton/BackButton.tsx
  frontend/src/components/@common/Button/Button.styled.ts
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/@common/CustomMenuButton/CustomMenuButton.styled.ts
  frontend/src/components/@common/CustomMenuButton/CustomMenuButton.tsx
  frontend/src/components/@common/IconButton/IconButton.styled.ts
  frontend/src/components/@common/IconButton/IconButton.tsx
  frontend/src/components/@common/Input/Input.styled.ts
  frontend/src/components/@common/Input/Input.tsx
  frontend/src/components/@common/MenuListItem/MenuListItem.styled.ts
  frontend/src/components/@common/MenuListItem/MenuListItem.tsx
  frontend/src/components/@common/Modal/ModalHeader/ModalHeader.styled.ts
  frontend/src/components/@common/Modal/ModalHeader/ModalHeader.tsx
  frontend/src/components/@common/RoomActionButton/RoomActionButton.styled.ts
  frontend/src/components/@common/RoomActionButton/RoomActionButton.tsx
  frontend/src/components/@composition/CafeCategoryCard/CafeCategoryCard.styled.ts
  frontend/src/components/@composition/CafeCategoryCard/CafeCategoryCard.tsx
  frontend/src/constants/animation.ts
  frontend/src/constants/zIndex.ts
  frontend/src/features/home/pages/HomePage.tsx
  frontend/src/hooks/useTouchInteraction.ts
  frontend/src/styles/animations/buttonHoverPress.ts
  frontend/src/styles/animations/effects/backGroundPressEffect.ts
  frontend/src/styles/animations/effects/rippleEffect.ts
  frontend/src/styles/animations/effects/scalePressEffect.ts
  frontend/src/types/touchState.ts
  frontend/webpack.common.js
Labels: FE, ✨feat
